@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;800&family=Poppins:wght@300&display=swap');

body{
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-between;
	gap: 1vh;
	margin: 0;
	min-height: 100vh;
	font-family: 'Poppins', sans-serif;
	background-color: #efe9f8;
	background-image: url("data:image/svg+xml,%3Csvg width='52' height='26' viewBox='0 0 52 26' xmlns='http://www.w3.org/2000/svg'%3E%3Cg fill='none' fill-rule='evenodd'%3E%3Cg fill='%23818ff0' fill-opacity='0.4'%3E%3Cpath d='M10 10c0-2.21-1.79-4-4-4-3.314 0-6-2.686-6-6h2c0 2.21 1.79 4 4 4 3.314 0 6 2.686 6 6 0 2.21 1.79 4 4 4 3.314 0 6 2.686 6 6 0 2.21 1.79 4 4 4v2c-3.314 0-6-2.686-6-6 0-2.21-1.79-4-4-4-3.314 0-6-2.686-6-6zm25.464-1.95l8.486 8.486-1.414 1.414-8.486-8.486 1.414-1.414z' /%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
}

#content{
	display:flex;
	gap: 8vh;
	flex-wrap: wrap;
	justify-content: center;
}

#gameBoard{
	display:flex;
	flex-direction:column;
	height:40vh;
	width:40vh;
	border: 2px solid black;
	padding:0;
}

#gameBoard.preGame{
	height: 40vh;
	width: 40vh;
}

.row{
	display:flex;
	flex:1;
}

.child{
	flex:1;
	border: 1px solid black;
	cursor: pointer;
}

.disabled{
	pointer-events: none;	
}

#start_screen_content{
	font-family: 'Poppins', sans-serif;
	display: flex;
	gap: 20px;
	align-items: center;
	min-width: 28vw;
	min-height: 50vh;
}

#sidebar{
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 3vh;
}

#ship{
	display: flex;
	flex-direction: column;
}

.block{
	height: 4vh;
	width: 4vh;
	border: 1px solid black;
}

.modal_bg{
	width:100%;
	height:100%;
	background-color :rgba(0,0,0,0.6);
	position:absolute;
	top:0;
	display:flex;
	justify-content:center;
	align-items:center; 
}

.modal{
	font-family: 'Poppins', sans-serif;
	font-size: 3.5vh;
	background-color:white;
	border-radius: 2vh;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	padding: 3vh 3.5vw;
	gap: 2vh;
}

.modal button{
	border: 1px solid black;
	border-radius: 10px;
	padding: 4px;
	font-size: 65%;
} 

footer{
	font-size: 3vh;
}